<%= flash_div %>
<p>
<%= label_tag '用户名' %><br />
<%= text_field_tag 'login',@login,:id => 'nick-name' %> 
<span class="tip">你可用email、昵称、手机号登录</span>   
</p>     
<p>
<%= label_tag '密码' %><br />
<%= password_field_tag 'password', nil %>
</p>