<<<<<<< HEAD:app/views/mobiles/index.html.erb
<%= @a %>
<%= @b %>        
<p>
<%= Crack::XML.parse(@c)['Xml'].inspect%>
</p>
=======
<% if false %>
<%= text_field_tag :mobile,'',:id => 'phone_number' %>                  
<ul>
	<li><%=link_to_function '绑定', "send_bing($('#phone_number').val())" %></li>
	<li><%=link_to_function '解除', "send_unbind($('#phone_number').val())" %></li> 
</ul>

<script type="text/javascript" charset="utf-8">
	function send_bing(mobile) { 
	  var reg0=/^13\d{5,9}$/;   //130--139。至少7位
	  var reg1=/^153\d{8}$/;  //联通153。至少7位
	  var reg2=/^159\d{8}$/;  //移动159。至少7位
	  var reg3=/^158\d{8}$/;
	  var reg4=/^150\d{8}$/;
	  var my=false;
	  if (reg0.test(mobile))my=true;
	  if (reg1.test(mobile))my=true;
	  if (reg2.test(mobile))my=true;
	  if (reg3.test(mobile))my=true;
	  if (reg4.test(mobile))my=true;
		 if (!my){
			alert('对不起，您输入的手机号码错误。');
		 }else{
			$.get("/send_verify_code/" + mobile, function(data){
			  alert("发送结果: " + data);
			});
		 }  	
	}  
	
	function send_unbind(mobile){
	   	 $.get("/send_unbind/" + mobile, function(data){
			  alert("发送结果: " + data);
			}); 
	} 
</script>
<% end %>

<%= @res %>
>>>>>>> d005c80473dacf7e51c38020a38edeb5128bf8f5:app/views/mobiles/index.html.erb
