<%= render :partial => "/shared/review", :locals =>{ :vendor => @vendor, :limit => true,:avatar => true, :show_title => true } %>     
<div id="comment">
	<h3>编辑评论</h3> 
 	<% form_for(@comment,:url => vendor_review_comment_path(@vendor,@review,@comment),:mehtod => :put) do |f| %>
	  <%= f.error_messages %>

	 <%= render :partial => 'form', :locals => {:f => f} %> 

	  <p>
	    <%= f.submit "更新" %>
	  </p>
	<% end %> 
	<%#= link_to 'Show', @comment %> |
	<%= link_to '返回', vendor_review_path(@vendor,@review) %>  
</div>


