<%=flash_div%>
<h1><%= 'Reset Your Password'%></h1>

<% form_tag reset_password_users_path do %>
  <label for="email"><%= 'Email' %></label><br/>
  <%= text_field_tag :email %> <span class="tip">请输入你的注册email</span>     

  <p><%= submit_tag 'Reset Password' %></p>
<% end %>