<% form_for @user do |f| %>  
<%= error_messages_for :user %>    
<p>	<%= label_tag '昵称' %><br/>
	<%= f.text_field :name %>
</p>
	<p>	<%= label_tag '用户名' %><br/>
		<%= f.text_field :login %>
	</p> 
	<p>	<%= label_tag '手机' %><br/>
		<%= f.text_field :mobile %>
	</p>
	  <%= f.submit "确定" %>
	</p>
<% end %>
