  	<div id="categories">          
		<span class='filter'>地区</span>  
		<ul>
	<li><%=filter_link(:text => '卢湾区',:new_params => {:address_like => '卢湾'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '徐汇区',:new_params => {:address_like => '徐汇'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '静安区',:new_params => {:address_like => '静安'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '长宁区',:new_params => {:address_like => '长宁'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '浦东新区',:new_params => {:address_like => '浦东'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '黄浦区',:new_params => {:address_like => '黄浦'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '普陀区',:new_params => {:address_like => '普陀'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '闸北区',:new_params => {:address_like => '闸北'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '虹口区',:new_params => {:address_like => '虹口'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '杨浦区',:new_params => {:address_like => '杨浦'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '近郊',:new_params => {:address_like => '近郊'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '闵行区',:new_params => {:address_like => '闵行'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '宝山区',:new_params => {:address_like => '宝山'},:current_params => @search_params )%></li> 
</ul> 
		<div class='line'>&nbsp;</div>  
		<span class='filter'>菜系</span>
		<ul>
	<li><%=filter_link(:text => '本帮',:new_params => {:category_like => '本帮'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '粤菜',:new_params => {:category_like => '粤菜'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '火锅',:new_params => {:category_like => '火锅'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '小吃',:new_params => {:category_like => '小吃'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '日本',:new_params => {:category_like => '日本'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '东南亚',:new_params => {:category_like => '东南亚'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '西餐',:new_params => {:category_like => '西餐'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '面包甜点',:new_params => {:category_like => '面包甜点'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '其他',:new_params => {:category_like => '其他'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '川菜',:new_params => {:category_like => '川菜'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '自助餐',:new_params => {:category_like => '自助餐'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '湘菜',:new_params => {:category_like => '湘菜'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '东北',:new_params => {:category_like => '东北'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '新疆清真',:new_params => {:category_like => '新疆清真'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '贵州',:new_params => {:category_like => '贵州'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '素菜',:new_params => {:category_like => '素菜'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '韩国',:new_params => {:category_like => '韩国'},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '台湾',:new_params => {:category_like => '台湾'},:current_params => @search_params )%></li> 
</ul> 


		<div class='line'>&nbsp;</div> 
		<span class='filter'>均价</span>
		<ul>
	<li><%=filter_link(:text => '50-80',:new_params => {:avg_greater_than => 50,:avg_less_than => 80},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '80-140',:new_params => {:avg_greater_than => 81,:avg_less_than => 140},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '140-200',:new_params => {:avg_greater_than => 141,:avg_less_than => 200},:current_params => @search_params )%></li> 
	<li><%=filter_link(:text => '201以上',:new_params => {:avg_greater_than => 201},:current_params => @search_params )%></li> 
</ul> 

 
	</div>