<h1>Editing commission</h1>

<% form_for(@commission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :booking %><br />
    <%= f.text_field :booking %>
  </p>
  <p>
    <%= f.label :booking_charge %><br />
    <%= f.text_field :booking_charge %>
  </p>
  <p>
    <%= f.label :official %><br />
    <%= f.text_field :official %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :valid %><br />
    <%= f.check_box :valid %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @commission %> |
<%= link_to 'Back', commissions_path %>
