<table>
  <tr>
    <th>名称</th>
    <th>折扣</th>
	<th>日期</th>
	<th>时间段</th>
	<th>状态</th>
  </tr>
<% @discounts.each do |discount| %>
	<tr>
		<td><%=discount.name %></td>
		<td><%=discount.count%></td>
		<td><%= distance_date(discount.start_date,discount.stop_date)%></td>
		<td><%= distance_time(discount.start_at,discount.stop_at) %></td>
		<td><%= discount.current_state %></td>
		<td><%= edit_discount_link(current_user,discount) %></td>
	    <td><%= close_discount(current_user,discount) %></td>
	</tr>
<% end %>
</table>  