<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html> 
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>满汉全席 餐饮打折平台 ( 上海 ) <%= yield :title %></title>

        <%= stylesheet_link_tag 'style','blueprint/screen','star_rating','facebox',:cache => true %>

	<%= javascript_include_tag 'jquery','application','facebox','jquery-ui-personalized-1.5.3.min',:cache => true %>
	<!--[if IE]>
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/blueprint/ie.css">
	<![endif]-->
	<%= yield :javascripts %>          
	<%= yield :head %>
	<%= yield :body_tag %> 
	<style type="text/css" media="screen">
		img, div { behavior:url(/iepngfix.htc); }  
	</style>
	</head> 
	<body> 
		<div class="container">
			<%= render :partial => 'layouts/header' %>
			<div id='content' class='span-22'>
		    	<%= yield %> 
				<%= render :partial => 'layouts/footer' %>
		    </div>
		</div> 
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-7011626-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
	</body>
</html>
