<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>无忧吃吃喝喝 即时餐饮打折平台 ( 上海 ) <%= yield :title %></title>
    <%= stylesheet_link_tag 'style','blueprint/screen','star_rating','facebox' %>
	<%= javascript_include_tag 'jquery','application','facebox','jquery-ui-personalized-1.5.3.min' %>
	<!--[if IE]>
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/blueprint/ie.css">
	<![endif]-->
	<%= yield :javascripts %>          
	<%= yield :head %>
	<%= yield :body_tag %> 
	<style type="text/css" media="screen">
		img, div { behavior:url(/iepngfix.htc); }  
	</style>
	</head> 
	<body> 
		<div class="container">
			<%= render :partial => 'layouts/header' %>
			<div id='content' class='span-22'> 
		    	<%= yield %> 
				<%= render :partial => 'layouts/footer' %>
		    </div>
		</div>    
	</body>
</html>
